<mat-toolbar color="primary" [class.mat-elevation-z8]="true">

    <div class="relative-margin-left">
        <button class="custom-margin-left" mat-icon-button (click)="sidebarButtonClick.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{companyName}}</span>
    </div>

    <span class="spacer"></span>

    <div class="relative-margin-right">
        <button mat-icon-button [matMenuTriggerFor]="userCard">
            <img mat-card-avatar src={{avatar?.imgUrl}} />
        </button>
    </div>

    <mat-menu class="mat-menu" #userCard>
        <app-user-card></app-user-card>
    </mat-menu>
</mat-toolbar>