::ng-deep .mat-expansion-panel-custom .mat-expansion-panel-body {
    padding: 0;
}

.mat-list-base[dense] {
    padding-top: 0;
}

.mat-expansion-panel-header-custom {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}